
<aside class="l-sidebar">

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LATESTS</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.Pages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ $key | singularize | upper }}</div>
    </div>
    <div class="list-group">
      {{ range first 10 $value.ByCount }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}

  <section class="panel panel-default">
    <a class="twitter-timeline"  href="https://twitter.com/Dad2LNL" data-widget-id="603770034486439936">Tweets by @Dad2LNL</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      
  </section>
</aside>

